@model IEnumerable<RealEstateManagement.Models.Agent>

@{
	ViewData["Title"] = "الوكلاء";
}

<h1>الوكلاء</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">إنشاء جديد</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>الاسم</th>
			<th>الهاتف</th>
			<th>المنطقة</th>
			<th>إجراءات</th>
		</tr>
	</thead>
	<tbody>
	@if (Model != null) {
		foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.PhoneNumber</td>
				<td>@item.RegionCovered</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Agent_ID">تعديل</a> |
					<a asp-action="Details" asp-route-id="@item.Agent_ID">تفاصيل</a> |
					<a asp-action="Delete" asp-route-id="@item.Agent_ID">حذف</a>
				</td>
			</tr>
		}
	}
	</tbody>
</table>
