@model IEnumerable<RealEstateManagement.Models.Property>

@{
	ViewData["Title"] = "Properties";
}

<h1>Properties</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Address</th>
			<th>Type</th>
			<th>Area</th>
			<th>Price</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@if (Model != null) {
		foreach (var item in Model)
		{
			<tr>
				<td>@item.Address</td>
				<td>@item.PropertyType</td>
				<td>@item.Area</td>
				<td>@item.Price</td>
				<td>@item.Status</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Property_ID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Property_ID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Property_ID">Delete</a>
				</td>
			</tr>
		}
	}
	</tbody>
</table>
