@model IEnumerable<RealEstateManagement.Models.Property>

@{
	ViewData["Title"] = "العقارات";
}

<h1>العقارات</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">إنشاء جديد</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>العنوان</th>
			<th>النوع</th>
			<th>المساحة</th>
			<th>السعر</th>
			<th>الحالة</th>
			<th>إجراءات</th>
		</tr>
	</thead>
	<tbody>
	@if (Model != null) {
		foreach (var item in Model)
		{
			<tr>
				<td>@item.Address</td>
				<td>@item.PropertyType</td>
				<td>@item.Area</td>
				<td>@item.Price</td>
				<td>@item.Status</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Property_ID">تعديل</a> |
					<a asp-action="Details" asp-route-id="@item.Property_ID">تفاصيل</a> |
					<a asp-action="Delete" asp-route-id="@item.Property_ID">حذف</a>
				</td>
			</tr>
		}
	}
	</tbody>
</table>
