@model IEnumerable<RealEstateManagement.Models.Contract>

@{
	ViewData["Title"] = "العقود";
}

<h1>العقود</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">إنشاء جديد</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>النوع</th>
			<th>التاريخ</th>
			<th>المبلغ</th>
			<th>إجراءات</th>
		</tr>
	</thead>
	<tbody>
	@if (Model != null) {
		foreach (var item in Model)
		{
			<tr>
				<td>@item.ContractType</td>
				<td>@item.ContractDate.ToShortDateString()</td>
				<td>@item.Amount</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Contract_ID">تعديل</a> |
					<a asp-action="Details" asp-route-id="@item.Contract_ID">تفاصيل</a> |
					<a asp-action="Delete" asp-route-id="@item.Contract_ID">حذف</a>
				</td>
			</tr>
		}
	}
	</tbody>
</table>
